[2016-11-28 22:09] UX-Unicorn opened #1 "Module not found: Error: Cannot resolve module 'react-block-ui'"
I installed react-block-ui but webpack is unable to load it.  It is looking for it in node_modules but there is no index.js file installed?
Here is my import statement:
 import BlockUi from 'react-block-ui';

This the file structure that gets downloaded for react-block-ui
react-block-ui/
    node_modules/
    License
    package.json
    README.md
    redux.js

Is there more that should be downloa

[2016-11-28 22:15] TheSharpieOne commented on #1
Sorry about that. The version published to npm did not include the generated lib. I have pushed a new version; 0.2.2. Please use that.

[2016-11-29 17:01] robmcguinness commented on #1
@TheSharpieOne can you push up tag to Github as well?

[2016-11-29 19:25] TheSharpieOne commented on #1
Done

[2016-11-29 19:25] #1 closed

[2016-11-29 19:34] UX-Unicorn commented on #1
Thanks

[2017-01-07 14:05] blacktemplar opened #2 "Children lose state on block and unblock"
I am not sure if I am doing something wrong (I am quite new to react), but when I use BlockUi with children which have a state (like a Form) they get recreated and lose their state on block.

I tracked down why this happens and it seams to be since BlockUi's render function has an if in which it decides how to render. Each case returns its own <Tag> element with the children inside but then it sea

[2017-01-07 15:30] TheSharpieOne commented on #2
From what I can tell, It's most likely something in your code. Children do not lose state when blocking and unblocking see http://www.webpackbin.com/4yGx1gcBf
Since the children are rendered both while blocking and not blocking (they are always rendered) the children components don't get unmounted and will keep their state.
If you are using the `renderChildren={false}` prop, then yes your children

[2017-01-08 16:06] blacktemplar commented on #2
Hi,

as I said I am quite new and it might be a problem of my code. But after I changed this part of your library (as in my pull request), it worked for me. Without the change the constructor of the Subcomponents was called whenever I blocked or unblocked (I tested that by logging something in the constructor), which clearly means the state gets reset. I also saw a short glitch between blocking an

[2017-01-08 16:11] blacktemplar commented on #2
Ok it seams to be connected with the fact that my BlockUi has more than one children.

I modified your example and added one more child component: http://www.webpackbin.com/4JRGQ8jrz

Now the state always gets reset on blocking...

[2017-01-08 16:27] TheSharpieOne commented on #2
gotcha. Thanks for getting to the bottom on it.

[2017-01-08 16:32] TheSharpieOne commented on #2
Fixed by #3 via d707fa4. I'll create a new release on tomorrow when I am on a computer. Thanks again.

[2017-01-08 16:32] #2 closed

[2017-01-27 10:15] asfernandes opened #4 "Elements in a blocked area should not accept actions triggered by the keyboard"
If I click a button and block its parent, I may still click the button it with space or enter keys.

Also, I may navigate with tab to the elements inside the blocked area.

It should block all user's interactions with the children components, not only mouse actions.

[2017-01-27 20:11] TheSharpieOne commented on #4
This turned out to be an interesting problem. Serval over libraries which do the same/similar this as this using different frameworks/libraries (jquery, angular) have this same issue.
Currently (locally, to fix this issue) I have it so the elements cannot be tabbed in and such. This prevents the user from getting to a button in the first place; making space/enter actions not matter. But... I would

[2017-01-27 20:32] asfernandes commented on #4
I had developed a custom solution on top of BlockUi for my specific problem, but it can be generalized.

Before the blocked content, I put two "invisible" inputs. When the block happens, I put the focus on the first input. The second input, when receives focus, focus the first input again. Two inputs are put after the blocked area for the same thing.

With some set of invisible inputs, you can bui

[2017-01-27 21:59] TheSharpieOne commented on #4
I have a solution, no need for extra hidden input. The user will also be able to tab around the blocked area (instead of acting like a wall preventing keyboard users from getting to the other side).
I need to create a few tests as well as handle returning focus. I'll try to finish up and create a release Monday.

[2017-01-28 00:36] asfernandes commented on #4
Great!

[2017-01-30 23:03] TheSharpieOne commented on #4
Ok, 0.2.3 should fix this issue. A new example was added to the docs, check it out.

On a side note... testing this was/is difficult. I could not figure out how to mock the focus with jsdom so that I could test various combinations... thus my test coverage went down...

[2017-01-30 23:03] #4 closed

[2017-01-30 23:29] asfernandes commented on #4
Very very good! I'll test as soon as I can in my code and report back.

[2017-01-31 10:27] asfernandes commented on #4
It works perfectly in my project. Thank you for the good project and the improvement.

[2017-02-01 21:59] balajiraot opened #5 "Uncaught TypeError: Cannot read property 'focus' of null"
testing with version: 0.2.3

getting _`Uncaught TypeError: Cannot read property 'focus' of null`_ from
https://github.com/Availity/react-block-ui/blob/master/src/BlockUi.js at line 66
[code]
Sample code to recreate the issue
[code]

[2017-02-01 22:23] TheSharpieOne commented on #5
You are essentially blocking then immediately unblocking within the same event loop. This is an unlikely use-case as most of the time this will be used when I/O will happen, but it's easy enough to support... now just need to determine if I want to simply do a null check or clear the `setImmediate`... why not both 😄

[2017-02-01 22:42] #5 closed

[2017-02-01 22:43] TheSharpieOne commented on #5
Fixed in 0.2.4

[2017-02-06 13:32] asfernandes opened #6 "react-block-ui throwing error in my tests"
When I test my component with jest, enzyme and enzyme-to-json, react-block-ui is randomly throwing an error in the new focus-control code.

[code]

It will be difficult for me to create a minimal test case.

Maybe some null-check in react-block-ui will solve the issue.

[2017-02-06 14:40] TheSharpieOne commented on #6
What version are you using? Additional null checks were added in 0.2.4 after #5 which looks for be the same issue and was resolved by the new version

[2017-02-06 15:03] asfernandes commented on #6
I was using 0.2.3 and didn't verified for new version before report, sorry.

[2017-02-06 15:03] #6 closed

[2017-02-22 01:23] alex-holt opened #7 "Default loader being used"
I'm finding the default loader isn't being overridden by my chosen loading component, here's my code:

[code]

What I'm seeing is the default (3 dots) loader sitting underneath the BlockUi wrapped components when the loading state is set.

Everything else works fine.

Anything I'm missing here?

[2017-02-22 02:09] TheSharpieOne commented on #7
Make sure you have the latest version.
I didn't want to have to deal with importing FontAwesome, but here is this: http://www.webpackbin.com/4kK2-1UYM

[2017-02-24 18:09] TheSharpieOne commented on #7
@alex-holt Can you confirm you are using the latest version (0.2.4)?

[2017-03-09 20:56] TheSharpieOne commented on #7
Webpackbin released a completely new version. See this updated bin: https://www.webpackbin.com/bins/-KeooKtE8HIypIzTF4Xk

Closing as a non-issue. If you have any further information to reproduce the issue, please reopen.

[2017-03-09 20:56] #7 closed

[2017-04-04 12:06] blacktemplar opened #8 "error when using react component as tag"
Until now I could use BlockUI with a React component as tag and it worked out as expected, but since the latest update I get the following error:

this.wrapper.contains is not a function in file BlockUi.js:89

I debugged it a little bit and saw that there it is expected that this.wrapper is a DOM element to be able to call the contains function. But if tag was a React component this.wrapper will b

[2017-04-04 21:07] TheSharpieOne commented on #8
The code needs to have access to the wrapping component to determine if any element within it has focus. It does this to determine if focus should be removed when blocking starts.
The tag was intended to be used as you are using it, allowing for any component to be used.
The simplest solution here would be to restrict the focus management feature to when `tag` is a strings... but that would suck.

[2017-04-04 21:22] TheSharpieOne commented on #8
I added a helper element which I can use to dynamically get the wrapping element from to determine focus. This should resolve your issue.

[2017-04-14 21:09] caiorg opened #9 "PropTypes is deprecated in React 15.5"
I was fiddling around upgrading my React project's packages to their latest versions, including React itself, and as I finished the process and ran `npm start`, I've got the following warning on the console:

![captura de tela 2017-04-14 as 18 04 30](https://cloud.githubusercontent.com/assets/2515035/25056088/04de2600-213d-11e7-88c9-4087448a89a5.png)

As you can see, the warning is being generated

[2017-04-15 09:51] edward93 commented on #9
Also I get error when using BlockUi. It might be due to the latest react version.
[code]

[2017-04-15 11:52] TheSharpieOne commented on #9
I'll address the deprecations when I get some time. There is no rush since they are just warning. As for your other error, what object is being returned? Can you recreate this using webpackbin or something to share?

[2017-04-15 15:53] caiorg commented on #9
@TheSharpieOne thx! I just wanted to point out this exists and know that they are on your radar.
As I've said, I was just playing with the latest versions to see how they behave.

[2017-04-17 19:33] TheSharpieOne commented on #9
@caiorg the deprecations have been resolved. Since it was more of an internal/chore type of change, a patch semvar version has been release (0.2.5 -> 0.2.6) It doesn't a breaking the existing API exposed by this library.... that being said, some other libraries and people are experiencing issues with running on version prior to react 15.5 due to how react and prop-types work...

@edward93, as for

[2017-04-17 19:33] #9 closed

[2017-04-19 12:14] caiorg commented on #9
@TheSharpieOne thx a lot for your fast response! 😀

[2017-04-20 20:40] edward93 commented on #9
@TheSharpieOne Hi sorry for late response. I didn't have time to look at the comments.
Unfortunately I created my own component for that matter and I'm using this specific one but I will try to test it again and tell you the results if it fails I will open new issue and will share some basic code.

[2017-08-11 07:31] hhh146578 opened #10 "ERROR in ./~/react-block-ui/style.css"
I just use react-block-ui in my react project.
First I run
npm install --save react-block-ui react react-dom

And write something like
[code]

But I get the following error

[code]

Is there any bug in the library?

[2017-08-11 10:40] TheSharpieOne commented on #10
You will need a style loader and css loader for webpack to be able to import css like that. Docs for importing styles/css can be found at https://webpack.github.io/docs/stylesheets.html.

Alternatively, you can use `<link href="https://unpkg.com/react-block-ui@1.0.2/style.css">` in your html to pull the styles resource from a CDN. Using a CDN means you would not need to import the style in your co

[2017-08-24 15:09] TheSharpieOne commented on #10
@hhh146578 did the comment above address your issue?

[2017-09-07 07:08] benpptung opened #11 "setImmediate() is a non-standard function"
Hi...got an Reference Error today, and found this is because setImmedaite() got called in componentWillReceiveProps(). can you fix it, I really like react-block-ui :)

[2017-09-07 15:13] TheSharpieOne commented on #11
Eh, I figured that thing would be a thing by now (and I thought it was seeing how nodejs has it which I thought meant chrome did as well), but it looks like [Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=146172) and [Firefox](https://bugzilla.mozilla.org/show_bug.cgi?id=686201) don't like it for various "reasons" (very longs issue threads...). It is a standard, just an [unofficial

[2017-09-07 15:28] benpptung commented on #11
I am using react, but I don't use the polyfill,  I guess this is why I got that error. :)
Thank you for your reply, I've solved it already.

[2017-09-07 15:28] #11 closed

[2017-09-07 15:35] TheSharpieOne commented on #11
I am not 100% sure how you are not using the polyfill since it is included with react via react's dependencies. Maybe treeshaking is removing it?

[2017-09-07 21:03] benpptung commented on #11
I've been looking into React's code, and React doc website [https://facebook.github.io/react/docs/hello-world.html](url), and I think React doesn't include `setImmediate`, because

1. If we open the browser's console, type `typeof setImmediate` on the React website, it is `undefined`. It means no `setImmediate` exist in global, even React exist.

2. And it seems React doesn't `require` setImmediat

[2017-09-07 22:06] TheSharpieOne commented on #11
I have never used react with UMD imports and script tags like that, it appears they have a special build which probably helps minimize the size. https://github.com/facebook/react/blob/2fa38ac1cce658ce799a162e65fcf782187c8802/scripts/rollup/modules.js#L188-L196

[2017-09-08 03:38] benpptung commented on #11
Yes ... :) I am still using `require`, and using browserify to bundle react.

so, if we cannot guarantee `setImmediate()` exist in global scope, I suggest to use `setTimeout({fn}, 0)`, which should always works across browsers and server-rendering.

[2017-09-13 19:56] TheSharpieOne commented on #10
I'm closing this issue as it is inactive. If the issue is unresolved, please comment and I will reopen.

[2017-09-13 19:56] #10 closed

[2017-09-29 04:13] hotpxl opened #14 "Remain in screen"
Current the dots are absolute 50% from the container it is in. But if the container is too high the dots may appear off-screen. Is there any way to make sure that when the container is high, at least the dots would not disapper?

[2017-09-29 04:14] hotpxl commented on #14
Specifically, I have a tall div that spawns multiple pages. When it is loading, i would like to see dots as long as parts of the div is on screen. Of course, when the whole div is off screen, no dots are needed.

[2017-09-29 12:05] TheSharpieOne commented on #14
I like the idea, my only concern is that the solution may be too heavy for this little project. I want to keep the size of this project as small as possible. I originally has javascript animations for the included loader to better support older browsers, but removed them in favor of CSS animations to shrink the package from ~30k to ~5k (because deps like `raf` and `bezier-easing` to help the anima

[2017-09-29 17:32] hotpxl commented on #14
I'm totally unfamiliar with CSS. So this is not doable with purely css, right?

[2017-09-29 17:39] TheSharpieOne commented on #14
Yeah, most likely not doable with only CSS. It may be a combination of JS and CSS, or just JS.

[2017-10-08 16:53] #14 closed

[2017-10-28 17:04] gautambt commented on #10
I am getting the same error while trying to use react-block-ui with webpack on rails. I've tried to use style.min.js as recommended above with no luck (The minified file has the comment as well). The default webpack config for rails does come with style loader enabled by default. and I am able to import other css files fine. If I remove the comment "" from style.css everything works fine.

[2017-10-28 18:02] TheSharpieOne commented on #10
There is not style.min.js just a style.css. If your webpack config is only looking for javascript files then you need to either adjust your configuration or include the styles from the cdn.
I would recommend also using create-react-app as it comes out of the box with css import capabilities.

[2017-11-01 10:58] gautambt commented on #10
The issue is probably not with webpack config as I am able to load other css files from js files just fine. I am able to import and use the library fine if I remove the comment `` on line 51. The [syntax](https://developer.mozilla.org/en-US/docs/Web/CSS/Comments) for commenting in css files is  `/* Css Animations */`.

[2017-11-01 12:21] TheSharpieOne commented on #10
I fixed that comment syntax and will release it when I get to a computer.

[2017-11-01 13:21] TheSharpieOne commented on #10
@gautambt v1.1.1 has the fix. Please give it a try.

[2017-12-08 17:54] asfernandes opened #17 "Delay overlay opacity"
Sorry, this is not a library bug, but I'm trying to delay the opacity change as a transition but anything I tried didn't work.

Something as:

[code]

I'm not expert on CSS transition. Can this be made?

[2018-04-17 13:47] TheSharpieOne commented on #17
Sorry I missed this issue. You cannot use transitions as when the element appears it is added to the DOM and transitions don't apply. It's considered it's initial state and not a transition.
You can use CSS animations. See: https://stackblitz.com/edit/react-block-ui-1x-umskff?file=style.css

[code]

[2018-04-17 13:47] #17 closed

[2018-07-31 19:05] TheSharpieOne opened #18 "IE11 throws an "Unspecified error" accessing document.activeElement from an <iframe>"
This was a real pain to track down, but apparently IE 11 will just throw `Unspecified error.` when accessing document.activeElement from an `<iframe>`, _sometimes_.
![image](https://user-images.githubusercontent.com/664714/43481098-ff5bd6ae-94d2-11e8-85bf-4b6e431c69b0.png)

[2018-08-26 13:07] poornachandugade opened #19 "react-block-ui doesn't work with Nextjs"
even with the state having {blocking : true} all child components were accessible to interact

[2018-08-29 13:57] TheSharpieOne commented on #19
Do you have a minimal viable example (such as an online sandbox or a sample repo) to help me reproduce this?

[2018-08-30 09:04] #19 closed

[2018-08-30 11:52] TheSharpieOne commented on #19
@poornachandugade were you able to resolve the issue?

[2018-08-30 12:02] poornachandugade commented on #19
No.Without a deeper understanding of nextjs i can not comment any further. So I switched to simple loaders instead of block-ui where we don't need to import css files seperately.

[2018-09-17 22:48] LouisCuvelier opened #21 "keepInView no more working"
Hi,

Thanks for the lib, but `keepInView` is no more working on 1.1.3.

Can you do something please ?

[2018-09-18 13:35] TheSharpieOne commented on #21
I am not able to reproduce. Please take a look at https://stackblitz.com/edit/react-block-ui-keepinview?file=Example.js

[2018-09-18 14:13] LouisCuvelier commented on #21
That's strange, for my part, it's working now. I maybe messed up the CSS for a while.
Thanks for your help and I'm very sorry for the disturbance 😔

[2018-09-18 14:41] TheSharpieOne commented on #21
No worries. Thanks for using this lib!

[2018-09-18 14:41] #21 closed

[2019-01-28 16:30] nylon22 opened #23 "aria-busy renders "0" on screen"
version: `1.1.3`

the following is rendering on the DOM when using `BlockUi` component:

[code]

code:
[code]

How can I stop the "0" from rendering on screen?

[2019-01-28 22:16] TheSharpieOne commented on #23
It seems like you are passing an int/number instead of a boolean for the value of the `blocking` prop. You are probably also getting warning in the console (in dev mode) indicating that you are sending the wrong type. `blocking` expects `true`/`false`, but it looks like you are sending `0` as indiacted by the `0` you are seeing and the `0` which appears as the value of `aria-busy`.
https://github.

[2019-01-29 01:13] nylon22 commented on #23
d'oh - good catch. I should've figured that out. Thanks @TheSharpieOne !

[2019-01-29 01:13] #23 closed

[2019-03-14 21:04] GoPro16 commented on #8
@TheSharpieOne I'm not sure if your help resolved this issue. I created a code sandbox link as an example of this error still persisting only on the first load since the ref doesn't exist yet. After that, "during development" on react hot reloads the error doesn't re-pop up.

https://codesandbox.io/s/7jw0k58j41

[2019-03-16 17:15] TheSharpieOne commented on #8
Apparently I broke this with this commit: https://github.com/Availity/react-block-ui/commit/7ba8b8e660b1aafa53b5fab27f0fb34f2c143e4e
I added a `ref` back to the wrapping component where `Tag` is used :(

[2019-06-18 13:09] MrSpoocy commented on #8
#26

[2019-06-18 18:33] #8 closed

[2019-06-27 22:59] azinod opened #30 "Installing package on version 1.1.4 is not exposing css and redux files at the root folder. Version 1.1.3 works fine."
### Current behavior
Installing the package at version 1.1.4 is not exposing the redux and css files on the root folder. Consequently, importing **react-block-ui/redux'**, **react-block-ui/reduxMiddleware** and **react-block-ui/style.css** fails.

Installing the package at version 1.1.3 exposes the files at the root folder as expected.
### Expected behavior
Files should be exposed so I can import

[2019-06-28 14:54] TheSharpieOne commented on #30
The files are missing from the published package.
https://unpkg.com/react-block-ui@1.1.4/
https://unpkg.com/react-block-ui@1.1.3/

[2019-06-28 17:37] brenopolanski commented on #30
I solved by putting the `lib/` folder.

**Example**:

`import ReduxBlockUi from 'react-block-ui/lib/redux';`

[2019-07-09 12:57] dprabu17 opened #32 "Cannot find module: 'react-block-ui/redux'. Make sure this package is installed."
I am using redux and I used ReduxBlockUI in my form submission by refering the document https://availity.github.io/react-block-ui/components/ReduxBlockUi/ It's working fine but when I run
**sudo npm run build**
I am facing the issue unable to get build directory.

![Selection_218](https://user-images.githubusercontent.com/1658021/61209077-6b21b100-a716-11e9-8579-4ddfe2f3979c.png)

![Selection_217]

[2019-07-27 20:00] GoPro16 opened #33 "Move to availity-react"
I am considering moving this over to `availity-react` and refactoring to hooks as from scanning the code will make the code footprint much smaller.

[2019-07-31 08:33] rrdlpl opened #34 "Could not find type declaration for module react-block-ui"
My project is written in typescript and I can't use this component.

By importing the library in my component I get the following error:

![Screenshot from 2019-07-31 10-30-56](https://user-images.githubusercontent.com/1158120/62196524-80394980-b37e-11e9-9ec6-1aaff21ef007.png)

Version: 1.1.3 - 1.1.4

[2019-07-31 13:07] GoPro16 commented on #34
If `types` don't exist for any library you are installing you can simply add it something by declaring it like

[code]

#24 is supposed to fix this but needs work.

[2019-07-31 14:48] rrdlpl commented on #34
Hi @GoPro16  I created the PR with the comments on the #24
Thanks for your help.

[2019-08-02 14:55] GoPro16 commented on #34
Closed via #36

As a heads up I did have to fix one minor [issue](https://github.com/Availity/react-block-ui/commit/ea4dc7d865a7e57cb023844603b8ea4be371e33e)

`v1.3.0` released

[2019-08-02 14:55] #34 closed

[2019-08-02 14:58] GoPro16 commented on #32
You should be able to import it from `react-block-ui/lib/redux`. Not sure if the docs are out of date or this is a build issue. Looking into this further.

[2019-08-02 15:00] GoPro16 commented on #32
actually is a duplicate of #30

[2019-08-02 15:12] GoPro16 commented on #30
From what I am seeing, it looks like those files are not being copied over in the build/release script. Going to open a PR to get those added over.

[2019-08-14 14:41] GoPro16 commented on #32
fixed in `v1.3.1`

[2019-08-14 14:41] #32 closed

[2019-08-14 14:42] GoPro16 commented on #30
fixed in `v1.3.1`

`/redux` works again. or `/lib/redux`.

[2019-08-14 14:42] #30 closed

[2019-08-21 08:55] iongion opened #40 "Warning: unstable_flushDiscreteUpdates"
For react deps:
[code]

There is now this warning showing up
[code]

[2019-08-21 15:27] TheSharpieOne commented on #40
Looks like it has something to do with the focus calls based on this code comment: https://github.com/facebook/react/blob/c80678c7606b1895573c23182bfb9a418e2ad31e/packages/react-reconciler/src/ReactFiberWorkLoop.js#L605-L607

I'm not sure how to address this.

[2019-09-10 10:17] domehead100 opened #41 "Typings problem with tag prop"
Just tried upgrading to latest, and we're getting typescript errors with the tag="div" prop:
[code]
The problem seems to be that in reactblockui.d.ts:
[code]
should be:
[code]
(note the parens around the entire expression before the or operator)

[2019-09-10 11:54] domehead100 opened #42 "React 16.9 warning - componentWillReceiveProps"
Just an FYI...

[code]

[2019-09-10 13:22] GoPro16 commented on #33
closes #42

[2019-09-10 13:23] GoPro16 commented on #42
Appreciate it, we are moving this project to a package under another project. With that its being rewritten with hooks and this warning will be removed.

[2019-09-10 13:24] GoPro16 commented on #41
Feel free to submit a PR

[2019-09-10 15:59] wrogersTBS commented on #42
@GoPro16 what project will contain this? I'm leery of taking on this as a dependency if it's likely to move to a project that contains other pieces I don't need. Thanks!

[2019-09-10 16:14] robmcguinness commented on #42
@wrogersTBS we would just be moving this to a mono repo https://github.com/Availity/availity-react that helps us manage a bunch of independent libraries. This move simply reduces are support cost and should not impact the usage of this library.

[2019-09-27 21:20] mpmeyer opened #43 "reduxMiddleware examples/documentation wrong?"
The examples and doc show:
import reduxMiddleware from 'react-block-ui/reduxMiddleware';

Should be:
import reduxMiddleware from 'react-block-ui/lib/reduxMiddleware';

thx

[2019-09-28 00:27] TheSharpieOne commented on #43
The latest release is messed up as noticed in https://github.com/Availity/react-block-ui/issues/30#issuecomment-506763773
At this point, it's probably just easier to suggest using `react-block-ui/lib/reduxMiddleware` (it's just 4 more characters, not a big deal). The docs need updated.

[2019-09-30 18:39] #43 closed

[2019-10-05 12:25] NickLatin0 opened #45 "Doesn’t block responsive design"
Works fine when the layout is standard with two components next to each other, but when the screen shrinks and the view goes responsive, the block UI only covers the top components. The bottom component is still editable

[2019-10-07 14:37] TheSharpieOne commented on #45
Can you post an example? You can fork this example and modify it to demo your issue: https://stackblitz.com/edit/react-block-ui?file=Example.js

[2019-10-15 12:34] goxr3plus commented on #40
What is happening with this issue guys ?

[2019-10-15 13:26] GoPro16 commented on #40
No one has picked up this issue if you want to take it. Just a warning so not a top concern.

[2019-10-15 13:42] goxr3plus commented on #40
We are full of warnings **bro**

[2019-10-17 10:25] mzientkowski opened #47 "keepInView start working after scroll"
https://stackblitz.com/edit/react-block-ui?file=Example.js

![2019-10-17 12 15 49](https://user-images.githubusercontent.com/11761135/67000318-ea3cd180-f0d7-11e9-8803-8f21b04acbea.gif)

Like you see above KeepInView start working after using scroll and next blocking works correctly.
Do you have any idea to solve this problem ?

[2019-10-17 14:53] TheSharpieOne commented on #47
This probably related to the changes in #27. Previous, to determine the size/area being blocked we were using a ref on the wrapper element, which is always render.
After that change, we are using the overlay element to determine the size/area being blocked. While it ends up being the same size/area, it is conditionally render (only rendered when blocking). When the blocking first activates, the co

[2019-11-02 04:17] sanju-developer commented on #47
Hello guys, when this will be fixed :(

[2019-11-02 12:49] sanju-developer commented on #21
what new you have done in this, so this is working :)

[2019-11-03 05:27] vitaly-redkin commented on #40
In my private fork I have replaced
`
if (typeof this.focused.focus === 'function') {
     this.focused.focus();
}
`
with
`
if (typeof this.focused.focus === 'function') {
  const focusedControl = this.focused;
  window.setInterval(() => { focusedControl.focus(); }, 100);
}
`

A hack, no doubt, but seems to be working so far,,,

[2019-11-04 07:10] goxr3plus commented on #40
@vitaly-redkin Can you please make a pull request for that ? :) Thank you

[2019-11-04 10:05] vitaly-redkin commented on #40
I probably can but what is the point? The PR to use UNSAFE_ methods for componentWillXXX (https://github.com/Availity/react-block-ui/pull/46) is not merged - and probably will not.

My local version has both UNSAFE_ and "wrap this.focusedControl.focus() into setTimeout()" changes so it will break the same tests as the previous PR did. So it will not be merged, etc.

Personally I made my change to

[2019-11-04 10:09] goxr3plus commented on #40
Yes i understand  . How about you pull reuqest only the "wrap this.focusedControl.focus() into setTimeout()" , i am having that annoying errors in production code .

[2019-11-08 04:33] vitaly-redkin commented on #40
Will do but a bit later - really tied up right now...

[2019-11-14 19:31] nylon22 opened #49 "Use Portal for span in BlockUI to prevent validateDomNesting warnings"
`<BlockUI />` renders a `<span>` to the DOM to use as a `ref`. See here: https://github.com/Availity/react-block-ui/blob/e5e2d0c22e5c855f7957b890c3ae8c91d9d6602c/src/BlockUi.js#L175

This can cause `validateDomNesting`warnings in certain situations. Take this situation for example:

[code]
*Suggested Solution*

Using `ReactDOM.createPortal`, render that `<span>` to the `body` tag of the `document`

[2019-11-14 21:15] TheSharpieOne commented on #49
The proposed solution will break the usage. The reason that span exists is to get a reference to its parent, which currently is the "root"/wrapping DOM element for  the blocked section. Moving it out will break the DOM traversal (its parent would become `body`).

The reason we are going through this round-about way of getting a ref to the "root"/wrapping DOM element is because we cannot add a ref

[2019-11-14 23:01] nylon22 commented on #49
Thanks for feedback 🙌 . I can get around the issue I'm having pretty easily by resolving this issue: https://github.com/Availity/availity-react/issues/372

[2019-11-15 09:35] goxr3plus commented on #40
@vitaly-redkin  No prob fill free to drop a pull request when you have time :)

[2019-12-05 07:39] Adam-Asatryan commented on #40
any updates here ?

[2019-12-05 13:19] goxr3plus commented on #40
@Adam-Asatryan  Vitaly got married i think.

[2019-12-16 09:06] SunWeiJunnnnn opened #50 "Unable to improve reduxMiddleware from react-block-ui/reduxMiddleware"
When I import `reduxMiddleware `, save the change
[code]

A compile error comes out :

**Failed to compile.**
**./src/index.js**
**Module not found: Can't resolve 'react-block-ui/reduxMiddleware' in 'myprojectdir\src'**

react : 16.12.0
redux : 4.0.4
react-block-ui: 1.3.2

I really hope someone could tell me why and how can I fix this. thanks.

[2019-12-16 15:01] TheSharpieOne commented on #50
you're going to have to import it from `lib/`, some of the helper files (which just make it easier to import by not needing `lib/`) did not get generated in the latest release:
[code]

[2019-12-17 05:00] SunWeiJunnnnn commented on #50
you have solved my promble, thank you

[2019-12-17 05:00] #50 closed

[2019-12-25 15:33] mehmetkasalak commented on #40
Will there be any progress?

[2019-12-25 17:05] GoPro16 commented on #40
No it’s Christmas 🎄

[2019-12-25 18:46] goxr3plus commented on #40
😂 😂 😂 😂 😂 😂 😂 😂 😂

I am making bug fixes right now bro for an app.

On Wed, 25 Dec 2019, 19:05 Kyle Gray, <notifications@github.com> wrote:

[2019-12-28 15:03] epotockiy commented on #42
@robmcguinness when would you plan to move to another repo and rewrite into use effect?

[2019-12-28 17:01] robmcguinness commented on #42
@epotockiy not sure but I will make inquiry.

[2019-12-28 18:46] GoPro16 commented on #42
@epotockiy  you can watch #33  for any progress made to that. We are working on getting our components to compile and then will most likely revisit this issue when we make the move to the other react mono repo.

[2019-12-30 20:19] #49 closed

[2020-01-25 17:28] GoPro16 opened #51 "Warning | validateDOMNesting For Helper Ref"
Currently if a user wants to override the `tag` prop of `react-block-ui` they can but it doesn't account for warnings that may come up if per say we were to have a tag of `<tbody>`

Example Code:
[code]

[code]

[Code Link](https://github.com/Availity/react-block-ui/blob/master/src/BlockUi.js#L175)

[2020-01-31 18:12] Joe-Cristop commented on #40
I use BlockUi with redux-saga to block screen when fetching data from back-end.
I thought this warning happens when the fetching time is too short.
So I delayed some time after data is fetched but the result was same even with delaying time more than 1 or 3 seconds.
On the other hand, stating BlockUi with button, no warning happens even though I click the buttons twice as quick as possible.
I don'

[2020-01-31 21:18] TheSharpieOne commented on #45
I'm closing this since the the issue is no longer active. Please comment and it will be opened if you feel the issue has not been resolved / the question has not been answered.

[2020-01-31 21:18] #45 closed

[2020-01-31 21:19] TheSharpieOne commented on #41
This this resolved with the link PR above? If so, please feel free to close the issue.

[2020-02-02 13:05] domehead100 commented on #41
Yep.  Thanks.

[2020-02-02 13:05] #41 closed

[2020-02-29 20:27] josoroma opened #52 "In combination with rematch I am getting: Module not found: Can't resolve 'react-block-ui/reduxMiddleware' in"
## store.js

[code]

## Error

![image](https://user-images.githubusercontent.com/69951/75614537-68d26280-5aff-11ea-9fcd-ab350c342d87.png)

[2020-03-02 19:03] TheSharpieOne commented on #52
try `import reduxMiddleware from 'react-block-ui/lib/reduxMiddleware';`

[2020-03-03 20:10] diegodesouza commented on #40
Yeah, I'm experiencing the same thing
`react-block-ui: 1.1.3`

[2020-03-05 20:47] lifedup commented on #40
@Joe-Cristop  it's happening because the dom (in this case x.focus()) is being manipulated outside of react before react has time to finish its rendering process.  Adding a slight delay is why the timeout works in most cases.

I had a similar issue on unrelated code but google lead me here.  I was able to fix a similar issue in my code using the useEffect hook with the proper dependencies.  Howeve

[2020-03-23 20:22] djejaquino commented on #51
Came here to report the same. This looks very ugly in the console.

[2020-04-10 15:55] roypankaj0206 opened #54 "React functional component : can we setState on form load as all components are disabled"
Using functional react component with hooks:

Requirement: when page load, data populates, from backend, into dropdowns and multi-select tables(tables with checkboxes).  On Submit button click, I need to use this consolidates object (for the default values selected) to make another REST call.
NOTE : No change handler called for any of these ui components.

Issue:
1)The state is not set at all and

[2020-04-15 17:44] #54 closed

[2020-08-11 12:02] whitecobalt commented on #40
A fix to this would be welcome

[2020-08-31 11:44] thushan85 commented on #40
I'm getting the same issue in 1.3.3. Are there any fix?

[2020-09-04 16:17] moc89 commented on #40
I found why it is happening; in my case below;
When I remove value={name} ;It works well. But when I re-render this element, I want to use in the state value.
Is there any other way to use state value when I render this element again? Because currently it is getting ustable_flushDiscreteUpdates.

`<TextField id="name"
                  onChange={(e: React.ChangeEvent<HTMLTextAreaElement>) => setNa

[2020-10-12 15:55] #47 closed

[2020-11-18 10:04] Spark3000 commented on #42
Is there progress on this warning?

[2021-01-07 08:32] shunyh commented on #40
"react-block-ui": "^1.3.3" has the same issue, any update?

[2021-01-15 16:37] diegodesouza opened #57 "Question - Block only one child in a list"
I have the following scenario where we display a list in `Card`s within the `Card` we have icons that will trigger an action and API call. When the promise is yet to resolve, we would like to give the user some feedback. I was trying to be clever and use the `BlockUI` to only block that specific card that the user was interacting with. Can this package do what i'm asking?

![Screen Shot 2021-01-15

[2021-01-19 16:54] nylon22 commented on #57
@diegodesouza the BlockUi component only blocks its children. from the screenshot you provided, it looks like you already have it working. can you clarify what the issue is?

[2021-01-19 18:38] diegodesouza commented on #57
The screenshot is only a mockup, not exactly the implementation. When i tried using BlockUI within a card, it still blocked the whole page.

[2021-01-19 18:45] nylon22 commented on #57
can you share a code sandbox or stackblitz demonstrating the issue?

[2021-01-21 18:50] prince272 opened #58 "How to change the overlay opacity."

[2021-01-22 15:10] chrishavekost commented on #58
The overlay opacity is [defined here](https://github.com/Availity/react-block-ui/blob/master/src/style.css#L32). A simple way to override the value would be to add something like

[code]
to your custom .css or .scss file

[2021-01-22 15:10] #58 closed

[2021-02-22 12:44] prince272 opened #59 "ComponentWillReceiveProps has been renamed, and is not recommended for use."
These warnings keep showing:

react-dom.development.js:88 Warning: componentWillReceiveProps has been renamed, and is not recommended for use. See https://fb.me/react-unsafe-component-lifecycles for details.

* Move data fetching code or side effects to componentDidUpdate.
* If you're updating state whenever props change, refactor your code to use memoization techniques or move it to static getDer

[2021-03-04 14:01] prince272 commented on #42
Is there progress on this warning?

[2021-03-04 14:05] prince272 commented on #42
Is there progress on this warning?

[2021-03-04 14:06] prince272 commented on #33
Is there progress on this warning?

[2021-03-31 01:57] TheSharpieOne commented on #57
This should be more than enough of an example without going into styling. It shows a legit list (ul) where a single item (li) is able to be blocked.
https://stackblitz.com/edit/react-24vix1

[code]
![Kapture 2021-03-30 at 21 56 30](https://user-images.githubusercontent.com/664714/113079318-cfaec900-91a2-11eb-90ae-57f84e6ac72c.gif)

Note: We should probably also prevent user selection of blocked co

[2021-04-08 19:21] JMo911 commented on #42
Still hitting this warning. Any status updates?

[2021-04-27 18:02] alealpha2000 opened #60 "Cannot use react-block-ui with React 17"
React 17 is not a peer dependency of react-block-ui so I can't install it without forcing. If react-block-ui works with React 17 the peer dependencies should be updated.

[2021-04-28 15:55] alealpha2000 commented on #60
I installed react-block-ui with --force, it appears to work with React 17

[2021-05-04 11:39] prince272 commented on #42
Is there progress on this warning?

[2021-05-11 09:13] prince272 commented on #60
It seems the owner is no more or has left the repository to perish.

[2021-05-11 09:16] prince272 commented on #42
It seems the owner is no more or has left the repository to perish.

[2021-07-22 08:18] Ali-X opened #61 "Still able to navigate with tab between inputs and enter data"
When the loader appears, the focus is lost but I still can press the tab key to navigate between inputs and enter data there. (Screenshot and video are attached.)
<img width="611" alt="Снимок экрана 2021-07-22 в 11 17 41" src="https://user-images.githubusercontent.com/16920879/126609050-421cadcf-74c0-4390-8666-5adf29b4c814.png">
https://user-images.githubusercontent.com/16920879/126608797-c21dc682

[2021-07-30 02:21] xSynack commented on #42
any update on this warning?

[2021-09-11 00:03] jaco9419 commented on #52
Thank you! I was running with a similar issue and this helped me.

[2021-11-05 09:48] jeffdico commented on #60
thanks for the tip, it worked for me too.

[2021-11-11 20:00] eraffel-MDSol commented on #60
Did this actually work for either of you? I thought given the use of `componentWillMount` and `componentWillReceiveProps` this would be entirely broken in React 17.

[2021-11-12 16:49] alealpha2000 commented on #60
I think the removal of every method that would have been removed in React 17 was postponed to React 18

De: Evan Raffel ***@***.***>
Enviado el: jueves, 11 de noviembre de 2021 17:00
Para: Availity/react-block-ui ***@***.***>
CC: alealpha2000 ***@***.***>; Author ***@***.***>
Asunto: Re: [Availity/react-block-ui] Cannot use react-block-ui with React 17 (#60)

Did this actually work for either of y

[2021-12-28 11:54] mancioshell commented on #59
Any Update?

[2021-12-28 16:14] nylon22 commented on #59
looks like duplicate of #42 and #33

[2021-12-29 16:25] #59 closed

[2021-12-29 16:26] nylon22 commented on #42
i am working on this.

[2021-12-29 16:26] nylon22 commented on #59
https://github.com/Availity/react-block-ui/issues/42#issuecomment-1002674899

[2022-02-17 16:16] Rixant commented on #40
Did anyone find the solution to this issue? I am using "react-block-ui": "^1.3.3"

[2022-03-21 13:25] chrishavekost commented on #42
@dvparth see https://github.com/Availity/availity-react/pull/952 for some more details. @jordan-a-young has worked on converting this package to use hooks and TS and has proposed moving it into our `availity-react` repo for easier maintenance. We are also considering renaming the package, and will provide a codemod to make any migrations easier if that's the route we go

[2022-04-14 15:24] rickhanlonii commented on #40
I don't have a repro - but based on the above example the issue may be that you're calling `focus` inside of render, instead of an effect.

[2022-07-07 08:43] Flaburgan commented on #60
We're using it with React 17 and it works indeed. I will open a pull request on this repository to propose to the author to add React 17 support.

[2022-07-26 03:15] rtnario commented on #40
Was encountering this issue on React 17. After following [lifedup](https://github.com/lifedup)'s advice on using proper useEffect hooks, and also checking [dapabe](https://github.com/dapabe)'s mention and updating to React 18, I no longer experience the issue.